body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #82afe2;
}

header h2 {
    color: #CEC8FF;
}

.navbar-nav > a{
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    
  }

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #5c4ceb, #1c9fd3, #fff8f8);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #901cad;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}



/* .bg-primary {
    align-items: center;
    border: 2px solid black;
} */

.row {
    justify-content: center;
   
}

.col-sm-4 {

    justify-content: center;
    
    align-items: center;
    padding: 50px;
}

/* .bg-primary {
    height: 100vh;
} */

.reviews {
    justify-content: center;
    text-align: center;
}

.container .container-fluid .review .row .review-row {
    font-size: 100px;
    padding: 100px;
}

.carousel-inner > .carousel-item > img {
    
    width:640px;
    height:460px;
    
  }

  .container .main-p {
      
  }

  